canvas {
    background-color: black;
    display: block;
    margin: 1em auto;
}
h1 {
    text-align: center;
}

p{
    text-align: center;
}
    
label {
    float: left;
    width: 5em;
    text-align: right;
    clear: left;
    margin-right: 1em;
}
    
input[type="text"] {
    margin-bottom: 1em;
}
    
img {
    display: block;
}