{% extends "base.html" %}

{% block main_content %}

    <form action=" " method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.country.label }}
        {{ form.country() }}
        <br />
        <br />
        {{ form.points.label }}
        {{ form.points() }}
        {{ form.submit() }}
    </form>


    <table>
        <caption>{{ caption }}</caption>
        {% for winner in winners %}
        <tr>
            <td>{{winner["year"]}}</td>
            <td>{{winner["country"]}}</td>
            <td>{{winner["song"]}}</td>
            <td>{{winner["performer"]}}</td>
            <td>{{winner["points"]}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}