html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    --bgcolour-one: #262626;
    --bgcolour-two: #e6e6e6;
    scroll-behavior: smooth;
    background-color: var(--bgcolour-one);
}

header{
    background-color: var(--bgcolour-one);
    padding: 1rem;
    margin: 0;
    box-sizing: content-box;
}

header img{
    max-height: 5rem;
    float: left;
    padding-right: 40rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav li a{
    color: white;
    text-decoration: none;
    padding-bottom: 2rem;
}

img{
    max-width: 100%;
}

#stripeone {
    height: 35rem;
    margin: 0;
    padding: 1rem;
    color: white;
    background-color: var(--bgcolour-one);
}

#stripeone img{
    display: flex;
    height: 32rem;
    width: 32rem;
    padding-right: 2rem;
    padding-top: 1rem;
    float: left;
}

a{
    text-decoration: none;
    color: #66a3ff;
}

li h2:hover{
    background-color: var(--bgcolour-two);
    color: var(--bgcolour-one);
    margin: 1rem;
}

#stripeone li {
    list-style: none;
}

#stripeone h1{
    padding-top: 1rem;
}

#stripetwo {
    height: 20rem;
    margin: 0;
    font-size: 1.25rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    background-color: var(--bgcolour-two);
}

#gallery {
    height: 67rem;
    margin: 0;
    padding: 1rem;
    color: white;
    background-color: var(--bgcolour-one);
}

figure {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 3.5rem;
}

figure img{
    width: 300px;
    height: 300px;
}


#gallery h1 {
    text-align: center;
}

#form {
    height: 75rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--bgcolour-two);
}

#social {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 3.5rem;
}
#social img{
    width: 300px;
    height: 300px;
}

#email{
    float: center;
    width: 150px;
    height: 150px;
}

#socialgallery {
    height: 30rem;
    margin: 0;
    padding: 1rem;
    color: white;
    background-color: var(--bgcolour-one);
}

#socialgallery h1 {
    text-align: center;
}

footer{
    background-color: var(--bgcolour-one);
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 0;
    box-sizing: content-box;
}

