{% extends "base.html" %}

{% block form %}

<form action="" method="POST">

    <label for="firstname">First Name:</label>
    <input type="text" name="first_name" size="30" maxlength="30" placeholder="Enter your first name" id="firstname"/>
    <br />
    <br />
    <label for="lastname">Last Name:</label>
    <input type="text" name="last_name" size="30" maxlength="30" placeholder="Enter your last name" id="lastname"/>
    <br />
    <br />
    <input type="submit">
    <input type="reset">

</form>

{% endblock %}