{% extends "base.html" %}

{% block main_content %}

<form action="" method="POST">

    <label for="givenname">First Name:</label>
    <input type="text" name="given_name" size="30" maxlength="30" placeholder="Enter your first name" id="givenname"/>
    <br />
    <br />
    <label for="familyname">Last Name:</label>
    <input type="text" name="family_name" size="30" maxlength="30" placeholder="Enter your last name" id="familyname"/>
    <br />
    <br />
    <input type="submit">
    <input type="reset">

</form>

{% endblock %}