<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
        <h1>{{title}}</h1>
        </header>
        {% block main_content %}

        {% endblock %}

        <footer>
            &copy; Dylan Murray
        </footer>

    </body>
</html> 